* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 100vh;
    background: #ecf0f1;
}

header {
    max-width: 100%;
    padding: 14px;
    background: #c0392b;
    color: #fff;
    overflow: hidden;
}

#menu {
    font-size: 25px;
    float: left;
    cursor: pointer;
}

#nav {
    position: absolute;
    top: 50px;
    left: 5px;
    display: none;
    z-index: 9999999;
}

#nav:before {
    content: "";
    position: absolute;
    background: #fff;
    width: 15px;
    height: 15px;
    top: -7.5px;
    left: 12px;
    transform: rotate(45deg)
}

#nav li {
    list-style-type: none;
}

#nav li a {
    text-decoration: none;
    color: #7f8c8d;
    display: block;
}

#list-name {
    font-size: 18px;
    margin-left: 40px;
    letter-spacing: 1px;
    line-height: 26px;
}

ul li {
    background: #fff;
    color: #7f8c8d;
    border-bottom: 2px solid #ecf0f1;
    list-style: none;
    padding: 0px 10px;
    height: 55px;
    line-height: 55px;
    overflow: hidden;
    position: relative;
    transition: 300ms;
    font-size: 19px;
}

#buttons-box {
    float: right;
    font-size: 23px;
}

#check-btn:hover {
    color: #2ecc71;
}

#remove-btn, #check-btn {
    cursor: pointer;
}

#remove-btn {
    margin-left: 10px;
}

#remove-btn:hover {
    color:#c0392b;
}

#completed-section {
    background: #2ecc71;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.5px;
    display: none;
}

#add-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background: #c0392b;
    color: #fff;
    font-size: 25px;
}

#add-section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: #ecf0f1;
    z-index: 9999;
    display: none;
}

#go-back {
    font-size: 22px;
    float: left;
    cursor: pointer;
}

#section-name {
    margin-left: 38px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 25px;
}

#add-item {
    padding-top: 30px;
    text-align: center;
}

#item {
    display: block;
    width: 50%;
    margin: 0 auto;
    background: transparent;
    border: none;
    border-bottom: 3px solid #bdc3c7;
    text-align: center;
    font-size: 15px;
}

#add-item input:focus {
    outline: none;
}

#adding-item {
    width: 50%;
    margin-top: 10px;
    background: #2ecc71;
    border: none;
    padding: 10px;
    color: #fff;
    letter-spacing: 1px;
}




